/DLL.zip
stealer.exe
stealer.bin
shell.bin
.vscode/settings.json
build/main/base_library.zip
main.spec
temp_stealer.exe
temp_stealer_v2.exe
temp_stealer_v3.exe
temp_stealer_v4.exe
temp_stealer_v5.exe
temp_stealer_v6.exe
fake.spec
final_stealer.exe
build/fake/Analysis-00.toc
build/fake/base_library.zip
build/fake/fake.pkg
build/fake/PKG-00.toc
build/fake/EXE-00.toc
build/fake/PYZ-00.pyz
build/fake/PYZ-00.toc
build/fake/warn-fake.txt
build/fake/xref-fake.html
dist/fake.exe
build/fake/localpycs/struct.pyc
build/fake/localpycs/pyimod04_pywin32.pyc
build/fake/localpycs/pyimod03_ctypes.pyc
build/fake/localpycs/pyimod02_importers.pyc
build/fake/localpycs/pyimod01_archive.pyc
fake.exe
